@font-face {
  font-family: notOK;
  src: url(fonts/dpcomic.ttf);
}

body {
  margin: 0;
}

.App {
  text-align: center;
  font-family: notOK;
  font-size: 31px;
}

.App-logo {
  height: 100vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}
