@font-face {
  font-family: peaberry;
  src: url(fonts/peaberry.ttf);
}

html {
  cursor: url(assets/pointer.png), pointer;
}

body {
  margin: 0;
  font-family: peaberry;
  font-size: 31px;
  background: #000;
  color: #fff;
  max-height: 100vh;
  overflow: hidden;
}

h1, h2, h3 {
  font-weight: 100;
}

h1.title {
  text-shadow: 2px 2px 2px rgba(255, 255, 255, .5);
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
  -webkit-user-select: none;
  user-select: none;
}
input, button, textarea, :focus {
  outline: none;
}
